.EditTopOfPage{
    display: flex;
    padding-bottom: 35px;
    margin: 40px;
    border-bottom-style: ridge;
    border-color: #efef16;
}

.TheNavOnEdit{
   display: flex;
   justify-content: center;
}

.EditAvatar{
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 50%;
}

.BusinessEdit{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-left: 100px;
}

.BioEdit{
    padding-bottom: 35px;
    margin: 40px;
    border-bottom-style: ridge;
    border-color: #efef16;

}

.BusinessLocationEdit{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-right: 50%;

}

.ui.focus.input{
    margin: 40px;
}

.PriceEdit{
    margin-left: 25px;
}
.BioEdit{
    display: flex;
    justify-content: center;
}
.TextEdit{
    width: 1000px;
    height: 200px;
}
.AddDescriptionButton{
    margin-left: 24px;
}

.GalleryEditButton{
    margin: 40px;
    border-bottom-style: ridge;
    border-color: #efef16;
    padding-bottom: 20px;

}