.EditTopOfPage{
    display: flex;
}
.EditAvatar{
    height: 70px;
    width: 100px;
    background-size: cover;
    border-radius: 50%;
}

.BusinessEdit{
    display: flex;
    flex-direction: column;
    width: 10%;
}

.BusinessLocationEdit{
    display: flex;
    flex-direction: column;
    width: 15%;

}