.profile-nav{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.service-font {
  font-size: large;
}

.profile-service {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.profile-page .hide {
    display: none;
    padding: 20px;
    background: #ddd;
  }

.profile-page .banner {
    padding: 10px;
    background: #f7f7f7;
    
}
  
.profile-page .banner:hover + .hide {
    display: block;
  }

.profile-page .hide:hover {
    display: block;
}


