.searchPage {
    height: 85vh;
    width: 50%;
    border: solid 1px;
    margin: 3%;
    background-color: white;
}

.input-shelf {
    background-color: cadetblue;
    padding: 2%;
}

.contractor-shelf {
    display: flex;
    border-bottom: solid 1px;
    padding: 1.5%;
}

.info-shelf {
    margin: 1%;
}

.background-search {
    background-image: url("https://images.unsplash.com/photo-1556912167-f556f1f39fdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=80");
}

