.searchPage {
    height: 85vh;
}

.input-shelf {
    background-color: cadetblue;
    padding: 2%;
}

.contractor-shelf {
    display: flex;
    border-bottom: solid 1px;
    padding: 1.5%;
}

.info-shelf {
    margin: 1%;
}