.ui.segment {
  margin: 0;
}

.ui.inverted.segment {
  background-color: cadetblue;
  border-bottom: 1px black solid;
}

.ui.secondary.inverted.pointing.menu {
  border: none;
  font-size: 16px;
  height: 67.5px;
}

Input {
  width: fit-content;
}

.navButtons {
  height: 100%;
  font-size: 22px;
}

.nav-shelf {
  display: flex;
  margin-left: 1%;
  margin-top: .5%;
}

.page-logo {
  width: 15%;
  margin-left: 40%;
  margin-top: 4%;
}

.home-page-logo {
  width: 15%;
  margin-left: 43%;
}